#title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;

    color: var(--secondary-font-color);
    font-size: min(12.5vh, 10vw);
    max-width: 100vw;
    row-gap: 0px;
    height: min(12.5vh, 10vw);
}

#word-container {
  height: inherit;
  flex-wrap: wrap;
  row-gap: 0px;
}

#sub-word-container {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  height: inherit;
  flex-wrap: wrap;
  row-gap: 0px;
  color: var(--primary-font-color);
}

#scroll-word-container {
    height: inherit;
    overflow: hidden;
}

#scroll-text {
    height: fit-content;
    text-align: left;
    vertical-align: middle;
    
    /* animation properties */
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    
    -moz-animation: scroll-text 20s ease infinite;
    -webkit-animation: scroll-text 20s ease infinite;
    animation: scroll-text 20s ease infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;  /* set paused by default, plays when elements are loaded. see <script> in home.html */
  }
  
/* Firefox-specific keyframes */
@-moz-keyframes scroll-text {
  0% { -moz-transform: translateY(25%);}
  30%, 80% { -moz-transform: translateY(-75%); opacity: 1;}
  81% {opacity: 0;}
  100% { -moz-transform: translateY(25%); opacity: 0;}
}

/* Chrome-specific keyframes */
@-webkit-keyframes scroll-text {
  0% {-webkit-transform: translateY(25%);}
  30%, 80% {-webkit-transform: translateY(-75%); opacity: 1;}
  81% {opacity: 0;}
  100% {-webkit-transform: translateY(25%); opacity: 0;}
}

@keyframes scroll-text {
  0% {
    -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  30%, 80% {
    -moz-transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    opacity: 0;
  }

}

.start-animation #scroll-text {
  animation-play-state: running;
}

#scroll-text-reverse {
  -moz-animation: scroll-text 5s ease-out reverse;
  -webkit-animation: scroll-text 5s ease-out reverse;
  animation: scroll-text 5s ease-out reverse;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;  /* set paused by default, plays when elements are loaded. see <script> in home.html */
}