form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 50px auto;
    padding: 20px;    
    min-width: fit-content;
    max-width: 50vw;
    background-color: var(--background-color);
    border-radius: var(--rounding);
}

.form-field {
    border: solid white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item { 
    font-family: var(--font-body);
    font-weight: var(--font-weight);
    font-size: 100%;
    text-align: center;
    background-color: white;

    border-radius: var(--rounding);
    /* border: solid var(--border-color); */
    border: none;

    width: auto;
    margin: 5px;
    padding: 5px;
    transition: 0.4s ease;
    cursor: pointer;
}

.form-item:hover {
    background-color: var(--accent-color-2);
}

#username-entry {
    visibility: visible;
}

#password-entry {
    visibility: hidden;
}

#submit-entry {
    visibility: hidden;
}

#next-entry {
    visibility: visible;
    align-self: right;
}

.toggle-switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    visibility: hidden;
}

/* Hide the default checkbox appearance */
#boolean-form-item {
    appearance: none;  /* Remove default checkbox style */
    width: 50px;
    height: 24px;
    background-color: var(--border-color);
    border-radius: 12px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Circle inside the toggle switch */
#boolean-form-item::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* Toggle switch appearance when checked */
#boolean-form-item:checked {
    background-color: var(--accent-color-darker);
}

#boolean-form-item:checked::before {
    transform: translateX(26px);
}