<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- importing google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <!-- importing css style sheet -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/base.css') }}">
        {% block extraheader %}{% endblock extraheader %}

        {% if title %}
        <title>{{ title }} - Nexus</title>
        {% else %}
        <title>Nexus - Private Messaging</title> <!-- default title if no other is given in routes.py-->
        {% endif %}
    </head>
    <body>
        <div id="nav-bar">
            <!-- nav bar at top -->
            <a id="nav-button" href="{{url_for ('home') }}">Home</a>
            <a id="nav-button" href="{{url_for ('login') }}">Sign In</a>
            <a id="nav-button" href="{{url_for ('privacy') }}">Privacy</a>
            <a id="nav-button" href="{{url_for ('blog') }}">Blog</a>
            <a id="nav-button" href="{{url_for ('nexus_online') }}">Nexus Online</a>
            <a id="nav-button" href="{{url_for ('contact_us') }}">Contact Us</a>
        </div>
        <hr style="margin-bottom: 0 auto; margin-top: 10px;"> <!-- divider line -->
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock content %} <!-- rest of page content -->
    </body>
</html>