{% extends "base.html" %}

{% block extraheader %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/home.css') }}">
{% endblock extraheader %}

{% block content %}
<h1> <!-- header message -->
<script>
    // Wait until the page is fully loaded, then add the "start-animation" class to <body>
    window.addEventListener('load', () => {
        document.body.classList.add('start-animation');
    });
</script>

<div class="text-emphasis">Nexus.</div>
<div id="title-container">
    Messaging&nbsp<div id="word-container">made&nbsp</div>
    <div id="sub-word-container">
        <div id="word-container">more</div>
        <div id="scroll-word-container">
            <div id=scroll-text>
                &nbspsecure.<br>
                &nbspsimple.<br>
                &nbspsmart.<br>
                .
            </div>
        </div>
    </div>
</div>
</h1>
{% endblock content%}