{% extends "base.html" %}

{% block extraheader %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/home.css') }}">
{% endblock extraheader %}

{% block content %}
<script>
    // Wait until the page is fully loaded, then add the "start-animation" class to <body>
    window.addEventListener('load', () => {
        document.body.classList.add('start-animation');
    });
</script>

<div id="page-container">
    <h1>
        <div class="title-container"><span class="text-emphasis">Nexus.</span></div>
        <div class="title-container">
            Communication,&nbsp
            <div id="word-container">made&nbsp</div>
            <div id="sub-word-container">
                <div id="word-container">more</div>
                <div id="scroll-word-container">
                    <div id="scroll-text">
                        &nbspsecure.<br>
                        &nbspsimple.<br>
                        &nbspsmart.<br>
                        .
                    </div>
                </div>
            </div>
        </div>
    </h1>

    <!-- <div id="body-container">
        <br>
        <br>
        <br>
        <br>
        hello xx<br>
        willy bum <br>
        bum bum<br>
        bum
    </div> -->

</div>
{% endblock content%}