{% extends "base.html" %}

{% block extraheader %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock extraheader %}

{% block content %}
<h1>Sign in <span class="text-background">to</span><span class="text-emphasis"> Nexus</span></h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }} <!-- security: csurf protection -->

    <div class="form-field">
        <div class="form-item-container">{{ form.username(placeholder="Phone number, email, or username", class_="form-item") }}</div>
            
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        <div class="form-item-container">{{ form.password(placeholder="Password", class_="form-item") }}</div>
            
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        <div class="form-item-container">
            <div class="toggle-switch-container">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
        </div>


        <div class="form-item-container">
            {{ form.next(style="padding: 10px;", class_="form-item") }}
            {{ form.submit(style="padding: 10px;", class_="form-item") }}
        </div>
    </div>
</form>

{% endblock content %}